aiohttp==3.12.13
bayesian_changepoint_detection==0.2.dev1
beautifulsoup4==4.14.3
captum==0.8.0
joblib==1.5.1
matplotlib==3.10.8
numpy==2.4.4
pandas==3.0.2
plotly==6.5.1
protobuf==7.34.1
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
statsmodels==0.14.6
streamlit==1.46.0
torch==2.9.1+cu130
torchinfo==1.8.0
tqdm==4.67.1
transformers==4.52.4
urllib3==2.6.3
yfinance==1.0
